em {
  color: DarkRed
}

img {
  padding:4px !important;
  border-radius:6px;
  border:2px solid #ddd
}

.telefonska-stevilka {
  color: yellow;
  font-weight: bold;
}

#kontakt {
  padding-left:30px;
}

th, td {
  text-align:left;
  padding:5px
}

table th {
  border-bottom:1px solid gray
}

a {
  color:DarkBlue;
  text-decoration: none
}

a:hover {
  text-decoration: underline
}
